zapp/node_modules/
zapp/dist/
zapp/.scp/
zapp/.env
zapp/Makefile*.mta
zapp/mta_archives
zapp/mta-*
zapp/resources
zapp/archive.zip
zapp/.*_mta_build_tmp

zselect/node_modules/
zselect/dist/
zselect/.scp/
zselect/.env
zselect/Makefile*.mta
zselect/mta_archives
zselect/mta-*
zselect/resources
zselect/archive.zip
zselect/.*_mta_build_tmp

node_modules/
dist/
.scp/
.env
Makefile*.mta
mta_archives
mta-*
resources
archive.zip
.*_mta_build_tmp